<nav>
    <a href="https://www.linkedin.com/in/zeke-houser-7220b4330/" target="_blank">Linkedin</a>
    <a href="https://webpages.charlotte.edu/jhouse11/" target="_blank">Charlotte Webpages</a>
    <a href="https://github.com/ZekeCS" target="_blank">Github</a>
    <a href="https://ZekeCS.github.io/itis3135" target="_blank">Github.io</a>
    <a href="https://www.codecademy.com/profiles/ZekeHouser" target="_blank">Codecademy</a>
    <a href="https://www.freecodecamp.org/ZekeH" target="_blank">FreeCodeCamp</a>
    <a href="/itis3135/hobby/index.html" target="_blank">Hobby</a>
</nav>
<p>Designed by <a href="housersolutions.com/index.html">Houser Solutions ©2025</a> <i><a target="_blank" href="https://www.freecodecamp.org/certification/ZekeH/responsive-web-design">Certified in Responsive Web Design</a> <a href="https://www.freecodecamp.org/certification/ZekeH/javascript-algorithms-and-data-structures-v8">and JADS</a></i>
<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>