<h1>Zeke Houser || Zealous Hedgehog || ITIS 3135</h1>
<nav>
    <a href="./">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="byo_intro.html">BYO Intro</a>
    <a href="overview.html">Project Overview</a>
</nav>
<nav id="separate_links">
    <a href="../Whimsical_company/about.html">My Company</a>
    <a href="./stuff.htm/CR@PPY website.htm">Crappy Website</a>
    <a href="slideshow.html">Slideshow</a>
    <a href="/Project/index.html">Final Project</a>
    <a href="review1.html">Peer Review 1</a>
    <a href="review2.html">Peer Review 2</a>

</nav>